In [30]:
import pandas as pd
import numpy as np

In [31]:
df_adult = pd.read_csv("/kaggle/input/adult-income-data/adult.csv")
df_adult

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

# DATA CLEANING

## AGE COLUMN

In [32]:
print(df_adult.age.isna().sum())
print(df_adult.age.isnull().sum())
print(df_adult.age.unique())
print("Age is good")

0
0
[90 82 66 54 41 34 38 74 68 45 52 32 51 46 57 22 37 29 61 21 33 49 23 59
 60 63 53 44 43 71 48 73 67 40 50 42 39 55 47 31 58 62 36 72 78 83 26 70
 27 35 81 65 25 28 56 69 20 30 24 64 75 19 77 80 18 17 76 79 88 84 85 86
 87]
Age is good

## WORKCLASS COLUMN

In [33]:
print(df_adult.workclass.isna().sum())
print(df_adult.workclass.isnull().sum())
print(df_adult.workclass.unique())
print("")
print("workclass not good so we have question marks")
print("")

# Count the number of question marks in the 'workclass' column
print("How many question marks are there in the column")
print((df_adult.workclass == "?").sum())

# Replace question marks with the mode of the 'workclass' column
print("Mode of workclass is:",df_adult['workclass'].mode()[0])
mode_workclass = df_adult['workclass'].mode()[0]
df_adult['workclass'] = df_adult['workclass'].replace('?', mode_workclass)
print("")
print("WORKING CLASS COLUMN GOOD")

0
0
['?' 'Private' 'State-gov' 'Federal-gov' 'Self-emp-not-inc' 'Self-emp-inc'
 'Local-gov' 'Without-pay' 'Never-worked']

workclass not good so we have question marks

How many question marks are there in the column
1836
Mode of workclass is: Private

WORKING CLASS COLUMN GOOD

## fnlwgt Final weight Column

In [46]:
print(df_adult.fnlwgt.describe())
#print(df_adult.fnlwgt.info())
print(df_adult.fnlwgt.isna().sum())
print(df_adult.fnlwgt.isnull().sum())
print("fnlwgt is good")

count    3.256100e+04
mean     1.897784e+05
std      1.055500e+05
min      1.228500e+04
25%      1.178270e+05
50%      1.783560e+05
75%      2.370510e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64
0
0
fnlwgt is good

## education column

In [48]:
print(df_adult.education.isna().sum())
print(df_adult.education.isnull().sum())
print(df_adult.education.unique())
print("Education is good")

0
0
['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']
Education is good